.main {
  object-fit: scale-down;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  font-weight: 50;
  font-style: normal;
  }

  .bigContainer {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(160px) saturate(188%);
    -webkit-backdrop-filter: blur(16px) saturate(188%);
    background-color: rgba(21, 40, 29, 0.274);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 20px; 
    height: 70vh;
    width: 35vw;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
    padding: 3vw;
    margin-bottom: 3em;
    margin-left: 6em;
    
  }
  
  .inputsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .inputText {
    color: #eee;
    font-family: robo;
    font-size: 36px;
    font-weight: 600;
  }
  
  .inputContainer {
    height: 6.5vh;
    position: relative;
    width: 35vw;
    margin-bottom: 1em;

  }
  
  /* .ic2 {
  } */
  
  .input {
    backdrop-filter: blur(16px) saturate(138%);
    -webkit-backdrop-filter: blur(16px) saturate(138%);
    background-color: #1f2a37ad;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 18px;
    height: 100%;
    outline: thin;
    border: .5px solid #5f5f5f60;
    padding: 4px 20px 0;
    width: 100%;
    margin-bottom: 2em;

  }
  

  .input:hover, 
  .input:focus{
    border: .5px solid #41ac5fcc;
    transition-duration: 300ms;
  }
  

  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
    margin-bottom: 0;
  }
  
  .submit {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color:#338048cc;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border: 1.5px solid;
    border-color: rgba(94, 94, 94, 0.219);
    font-weight: normal;
    border-radius: 10px;
    text-align: center;
    line-height: 1;
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 7vh;
    width: 12vw;
    justify-content: center;
    align-content: center;
  }
  
  .submit:hover,
  .submit:focus {
    transform: scale(1.02);
    transition-duration: 500ms;
    box-shadow: 1px 3px 15px 4px rgba(169, 69, 255, 0.055);
    cursor: pointer;
    background-color:   #0e461e75;
    border-color: rgb(255, 255, 255);
  }
  
  .reset {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #0e461e75;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border: 1.5px solid;
    border-color: rgb(255, 255, 255, 0.582);
    font-weight: normal;
    border-radius: 10px;
    text-align: center;
    line-height: 1;
    color: rgba(255, 255, 255, 0.582);
    font-size: 18px;
    height: 7vh;
    width: 12vw;
  }
  
  .reset:hover,
  .reset:focus {
    transform: scale(1.02);
    transition-duration: 500ms;
    box-shadow: 1px 3px 15px 4px rgba(169, 69, 255, 0.055);
    cursor: pointer;
    background-color:  rgb(15, 15, 15);
    border-color: rgb(255, 255, 255);
  }

  .header {
    color:#e3e3e3;
    font-weight:400;
    margin-bottom: .2em;
    margin-top: 0;
  }

  .parraph {
    color:#c7c7c7 ;
    font-size: larger;
    margin-bottom: 1.2em;
  }

  .header2 {
    color:#e3e3e3;
    font-weight:400;
    margin-bottom: .5em;
  }

  .linkcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 2.5em;

  }
  .unRegistered {
    color: white;
    font-weight: 400;
  }

  .link {
    color: rgb(0, 153, 255);
    font-weight: 500;
    margin-left: 1em;
  }

  .formImage {
    width: 28vw;
    height: auto;
    margin-right: 6em;
  }
  
  /* label {
    color: white;
    width: 3vw;
    font-weight: bold;
  }
  
  
  div.genre-checkboxes {
    width: 32vw;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
  } */
  













/* .formContainer {
    background-color: green;
    width: 300vw;
    height: 300vh;
} */